/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.baseBackground {
  background: #ef5350;
  color: #ffffff;
  height: 60vh;
}

.baseBackground img {
  height: 240px;
  width: 240px;
}

.authenticationLayer {
  border: 1px solid #ffffff;
  border-radius: 40px 40px 0 0;
  background: #ffffff;
  position: fixed;
  bottom: 0;
  height: 60vh;
  width: 100%;
}

.loginBtn {
  padding: 24px 30px;
  margin-top: 30px;
  border: 1px solid #00bfa5;
  background: #00bfa5;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  border-radius: 40px;
  min-width: 200px;
}
.rangerView,
.rangerProfileView {
  height: 95vh;
}

.topBlock {
  background-color: #8bc34a;
  height: 30vh;
}
.profileTopBlock {
  background-color: #29333b;
  height: 25vh;
}
.profileViewBlock {
  background-color: #ffffff;
  height: 75vh;
  position: fixed;
  bottom: 5vh;
  width: 100%;
  border: 1px solid #ffffff;
  border-radius: 40px 40px 0 0;
}
.viewBlock {
  background-color: #eceff1;
  min-height: 60vh;
  padding: 20px;
}
.viewBlock h3 {
  margin-top: 0;
}
.rangerNav {
  height: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.rangerNav a {
  width: 33%;
  height: 100%;
  display: inline-block;
  background-color: #ffffff;
}
.rangerNav a:hover {
  background-color: #868585;
  transition: background-color 2s;
}
.rangerNav a.selected svg {
  fill: blue;
}
.profileWrapper {
  position: relative;
  min-height: 70vh;
}
.profileWrapper h3 {
  padding-top: 50px;
}
.userImage {
  position: absolute;
  top: -12%;
  left: 50%;
  margin-left: -52px;
  height: 105px;
  width: 105px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: #ffffff;
}
.userImage img {
  border-radius: 50%;
  height: 95px;
  width: 95px;
  margin-top: 5px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes ldio-laceo5ga78f {
  0% {
    top: 90px;
    left: 90px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 35px;
    left: 35px;
    width: 110px;
    height: 110px;
    opacity: 0;
  }
}

.ldio-laceo5ga78f div {
  position: absolute;
  border-width: 10px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: ldio-laceo5ga78f 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.ldio-laceo5ga78f div:nth-child(1) {
  border-color: #607d8b;
}

.ldio-laceo5ga78f div:nth-child(2) {
  border-color: #00bfa5;
  animation-delay: -0.5s;
}

.loadingio-spinner-ripple-8u38x6gutdc {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-laceo5ga78f {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-laceo5ga78f div {
  box-sizing: content-box;
}

.task {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  border-radius: 12px;
  background: white;
  border: 2px solid white;
}

.closedTask {
  color: gray;
  /* border: 3px solid gray; */
}

.openTask {
  color: orangered;
  /* border: 3px solid green; */
}

.stepWrapper {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.openTask h5,
.closedTask h5 {
  text-align: left;
}
